body{
  width: 100%;
  margin-top: 5%;

}
#ecran{
  width: 50%;
  height: 350px;
  margin-left:25%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0769AD;
  overflow-y: scroll;
  overflow-x: hidden;
}
.user{
  color:white;
  margin-top: 10px;
  margin-left: 5%;
  font-weight: bold;
  font-style: italic;

}
.computer{
  color:yellow;
  margin-top: 10px;
  margin-left: 5%;
  font-weight: bold;
  font-style: italic;

}
.blocMessage{

  width: 50%;
  height: 100px;
  margin-left:25%;
  border: 1px solid black;
  border-radius: 10px 0px 0px 10px;
}
input{
  width: 60%;
  margin: 40px 5% 0px 20%;
}

img{
  width: 30px;
  height:30px;

}
@media screen and (max-width: 1020px){
  #ecran{
    height: 200px;
  }
  img{
    width: 20px;
    height: 20px;
  }
}
