body{
  width: 100%;

}
#ecran{
  width: 50%;
  height: 350px;
  margin-left:25%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0769AD;
}
.user{
  color:white;
  margin-top: 10px;
  margin-left: 5%;
  font-weight: bold;
  font-style: italic;

}
.computer{
  color:yellow;
  margin-top: 10px;
  margin-left: 5%;
  font-weight: bold;
  font-style: italic;

}
.blocMessage{

  width: 50%;
  height: 150px;
  margin-left:25%;
  border: 1px solid black;
  border-radius: 10px;
}
textarea{
  float: left;
  margin-left: 23%;
  margin-top: 10px;
}
img{
  width: 30px;
  height:30px;
  float: right;
  margin: 15px;
}
